body {
    font-family: sans-serif;
    background-color: #fefae0;
    color: #31333F;
    text-align: center;
    padding-top: 2rem;
}

.container {
    max-width: 500px;
    margin: auto;
}

input[type="text"] {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages .error {
    color: red;
}

.messages .warning {
    color: orange;
}
